/* стили хедера */
.header {
    box-sizing: border-box;
    margin: 0 0 56px;
    display: flex;
    padding: 0 48px 0px;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width: 1279px) {
  .header {
    margin: 0 0 48px;
    }
} 


@media screen and (max-width: 1023px) {
  .header {
      padding: 0 24px;
    }
}  

@media screen and (max-width: 767px) {
  .header {
    padding: 0 16px;
  }
}  